@media (max-width:800px) {     
    #header {
        position:fixed;
        width: 101%;
        height: 15vh;
        background-color: rgb(0, 0, 0);
        left: 0;
        top:0;

    }

    #logo {
        position:absolute;
        width: auto;
        height: 6vh;
        margin-left: 25px;
        margin-top: 15px;
        filter: invert(100);
        
    }

    #menu{
        position: absolute;
        color: white;
        top: 3vh;
        right: 0;
        width: 40%;
        height: 30px;
        background-color: rgb(0, 0, 0);
    }

    .ps {
        position:relative;
        float: left;
        margin-left: 2vw;
        margin-top: 3px;
        font-size: 1.2vw;
        transition: ease,0.3s ;
        display: none;
    } .ps:hover{color: #f7d336; cursor: pointer;}
    
    #div1 {
        position: relative;
        color: white;
        margin-top: 15vh;
        margin-left: 0px ;
        width: 101%;
        height: 80vh;
        background-color: rgb(0, 0, 0);
    }

    #init1{
        position: absolute;
        font-family: sans-serif;
        font-size: 30px;
        margin-top: 100px;
        margin-left: 40px;
        color: #f7d336;
    }

    #init2{
        position: absolute;
        font-family: sans-serif;
        font-size: 32px;
        margin-top: 140px;
        margin-left: 40px;
        text-align: left;
    }

    #but1 {
        position: absolute;
        font-family: sans-serif;
        font-weight: 700;
        border-radius: 5vw;
        border-style: none;
        font-size: 20px;
        margin-top: 270px;
        margin-left: 35px;
        width: 250px;
        height: 50px;
        background-color: #f7d336;
        
        transition: ease, 0.4s;
        color: black;
    } #but1:hover{cursor: pointer; background-color: #f8d952; rotate:0deg !important; transform: translateX(5px);}

    #but2 {
        position: absolute;
        font-family: sans-serif;
        font-weight: 700;
        border-radius: 5vw;
        border-style: none;
        font-size: 20px;
        margin-top: 330px;
        margin-left: 60px;
        width: 250px;
        height: 50px;
        background-color: #f7d336;
        color: black;
        transition: ease, 0.4s;
    } #but2:hover{cursor: pointer; background-color: #f8d952; rotate:0deg !important; transform: translateX(5px);}

    #but3 {
        position: absolute;
        font-family: sans-serif;
        font-weight: 700;
        border-radius: 5vw;
        border-style: none;
        font-size: 20px;
        margin-top: 390px;
        margin-left: 35px;
        width: 250px;
        height: 50px;
        background-color: #f7d336;
        color: black;
        transition: ease, 0.4s;
    } #but3:hover{cursor: pointer; background-color: #f8d952; rotate:0deg !important; transform: translateX(5px);}

    #but4 {
        position: absolute;
        font-family: sans-serif;
        font-weight: 700;
        border-radius: 5vw;
        border-style: none;
        font-size: 20px;
        margin-top: 450px;
        margin-left: 60px;
        width: 250px;
        height: 50px;
        background-color: #f7d336;
        color: black;
        transition: ease, 0.4s;
    } #but4:hover{cursor: pointer; background-color: #f8d952; rotate:0deg !important; transform: translateX(5px);

}